h1 {
  font-weight: normal;
}

h2 {
  padding-top: 20px;
  font-weight: lighter;
}

h3 {
  padding-top: 20px;
  font-weight: lighter;
}

blockquote{
  font-family: 'Lato';
  font-size: 0.97em;
}

table, tr, td{
  border: 0.5px solid gray;
  border-collapse: collapse ;
  padding: 15px;
}

table, tr, td, th {
  text-align: center;
}

th{
  background: lightgray;
}