
section table{
    margin-top: 10px;
    margin-bottom: 80px;
}
section table tr:first-child{
    padding: 0px !important;
    border: none !important;
}

section table tr:first-child th{
    padding: 0px !important;
    padding-right: 20px !important;
    border-bottom: solid;
}

section table tr th{
    padding: 10px !important;
    border-bottom: dotted 1px;
    margin: 0px !important;
    font-weight: normal !important;
}

@media (max-width: 992px) {
    section table{
		display: block !important;
        margin-top: 50px;
	}
	section table tr{
		table-layout: none !important;
		width: 100% !important;
		display: block;
		border: none;
        margin-bottom: 100px !important;
	}

    section table tr:first-child{
        display: none;
    }

    section table th{
		display: table-row !important;
        text-align: center;
	}

    section table th:first-child{
		font-size: 1.1em;
	}
    section table th:first-child:before{
        content: "Author(s) / Speaker(s)" !important;
		font-size: 1.2em;
        font-weight: 800;
	}

    section table th:last-child{
		font-size: 1.5em;
	}

    section table th:nth-child(2):before{
        content: "Title" !important;
        font-size: 1.2em;
        font-weight: 800;
    }
    section table th:nth-child(3):before{
        font-size: 1em;
        font-weight: 800;
    }
    section table th:last-child{
        background-color: lightgray;
		/*content: "No." !important;*/
	}

}
