
section table{
    margin-top: 30px;
}
section table tr:first-child{
    padding: 0px !important;
    border: none !important;
}

section table tr:first-child th{
    padding: 0px !important;
    border-bottom: solid;
}

section table tr th{
    padding: 10px !important;
    border-bottom: dotted 1px;
    margin: 0px !important;
    font-weight: normal !important;
}
