section h1 {
  font-weight: normal;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

section h2 {
  font-size: 1.7em;
  margin-top: 40px;
}

section h3 {
  padding-top: 20px !important;
  font-weight: lighter !important;

}

section h4 {
  color: gray;
  padding: 0px !important;
  margin: 0px !important;
  font-weight: lighter !important;
  font-size: 1.17em !important;
}

section h4 + p{
	margin-top: 30px;
}

section h5 {
  color: gray;
  font-size: 0.83em !important;
  font-weight: bold !important;
  margin-block-start: 0em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

section blockquote{
  font-family: 'Lato';
  font-size: 0.97em;
}

section table h5 {
  color: gray;
  font-size: 0.83em !important;
  font-weight: bold !important;
  margin-bottom: 0px !important;
}

section table p {
	font-size: 0.83em !important;
}

section table h4 {
  color: black;
}

section table *{
	font-weight: normal !important;
}

section table {
  table-layout: fixed; /* Ensures consistent table layout */
}

section table tr{
	display: flex;
	flex-wrap: wrap;
}

section table th{
	padding: 25px!important;
	vertical-align: top;
	padding-right: 30px !important;
	flex: 0 0 25%;
}

/*padding top if second TD has description and not an image*/
section td:not(:first-child):not(:has(img)){
	 padding-top: 35px!important;
}
section th:not(:first-child):not(:has(img)){
	 padding-top: 35px!important;
}

section tr.full-bio th:first-child{
  /*text-align: center;*/
}

section tr.full-bio th:last-child{
  width: 90% !important;
  padding-right: 200px !important;
}

section tr.full-bio{
  display: unset;
}

section table.full-bio{
  width: 90%;
}

section table.full-bio p{
  font-size: 0.95em !important;
}

section table.full-bio img{
	text-align: center!important;
	border-radius: 50%;
  object-fit: cover;
  width: 12vw;
  aspect-ratio: 1/1;
  max-width: 150px;
}


section table img{
	text-align: center!important;
	border-radius: 50%;
  object-fit: cover;
  width: 14vw;
  aspect-ratio: 1/1;
  max-width: 150px;
}

@media (max-width: 992px) {
	section table {
	  text-align: center !important;
	  width: 100% !important;
	  border-collapse: separate;
	  border-spacing: 10px;
	  margin: 0px !important;
	}
	section table th, td{
		display: table-row;
		/*margin: 20px!important;*/
	}
	section table img{
		width: 60vw !important;
	}

  section tr.full-bio th:last-child{
    padding-right: 0px !important;
  }
}
