:root {
	--nav-bg-color: #33075c;
	--nav-bg-color-semantics: rgb(64,71,87);
	--nav-bg-color-semantics-orange: rgb(236,142,48);
	--nav-bg-color-opacque: rgba(51, 7, 92,0.5);
  --main-bg-color: rgb(236,142,48);
	--section-bg-color: rgb(255,215,129);
	--section-bg-color-alt: rgb(237,237,237);
  --main-bg-color-opacque: rgba(154, 49, 252,0.7);
}

body{
	font-family: 'Lato', sans-serif;
}
h2{
	font-weight: normal;
	font-size: 1.3em;
}
section{
	padding-top: 50px;
}
footer{
	vertical-align: middle!imporatnt;
	padding: 2%;
	background: var(--nav-bg-color-semantics);
}
footer .footer-content{
	margin: auto;
	width: 60%;
}
footer .footer-content div{
	padding: 10px;
}
footer .footer-content a{
	color: lightgray;
}
footer .footer-content .footer-second{
	border-top: solid 1px gray;
	color: gray;
	padding: 30px;
}
footer .footer-content .footer-credits{
	color: gray;
	padding: 0px;
	border: none;
	font-size: 0.6em;
}
footer .footer-second a{
	color: gray;
}
footer .footer-second a:hover{
	color: white;
}

#topHeader{
	background: white;
	padding: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
}
#topHeader .container{
	padding-top: 5px !important;
}
#topHeader .social-tag{
	color: gray;
	margin-right: 10px;
}
#topHeader #social_logos{
	float:right;
}
#topHeader #social_logos i{
	font-size: 1.3em;
	filter: grayscale(1);
	opacity: 0.5;
	transition: 0.7s;
}
#topHeader #social_logos i:hover{
	opacity: 1;
	filter: grayscale(0);
}

nav{
	background: var(--nav-bg-color-semantics);
}
nav .dropdown-menu{
	background: var(--nav-bg-color-semantics);
}
nav a{
	font-size: 0.9em;
	margin-right: 20px;
	color: white !important;
	transition: 0.7s;
}
nav a:hover{
	color: var(--nav-bg-color-semantics-orange) !important;
	background: initial !important;
}
header .title{
	color: white;
	/*background-color: rgba(0,0,0,0.3);*/
	font-family: Gill Sans, sans-serif;
	width: 400px !important;
}
header .title .decoline{
	margin: 20px;
}
header .container{
	vertical-align: middle!imporatnt;
	padding-top: 60px;
}
header.bg-light{
	background-image: url("../img/bg_leipzig_org_nofilter.jpg");
	/*background-image: url("../img/bg_leipzig_dark.jpg");*/
	background-color: #white!important;
	background-repeat: no-repeat, repeat;
	background-size: cover;
	min-height: 650px;
	border-bottom: solid 3px rgba(0,0,0,0.2);
}
header .logo{
	text-align: center !important;
}
header .logo img{
	max-width: 400px;
}
.orgs .org{
	text-align: center;
	margin: 0 auto;
	padding: 5px;
}
.persons .person{
	text-align: center;
	margin: 0 auto;
	padding: 5px;
}
.person-role{
	color: var(--nav-bg-color-semantics-orange);
	font-size: 0.8em;
}
#psc_members{
	margin-bottom: 30px;
}
.psc-mem{
	margin-top: 20px;
}
.group-title{
	margin-top: 40px;
	border-bottom: solid 2px var(--nav-bg-color-semantics-orange);
}

.theme-row{
	background-color: var(--section-bg-color);
}
.theme-row-alt{
	background-color: var(--section-bg-color-alt);
}
.theme-row-nav{
	background-color: var(--nav-bg-color-semantics);
}
.collapsed-section{
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 40px;
}

.slot {
	background-color:#16166b;
	color: white;
	text-align: center;
}

.keynote {
	background-color:#f0a5a5;
	color: white;
	text-align: center;
}

.image-profile {
	text-align: center!important;
	height: 115px;
	width: 115px;
	border-radius: 50%;
}

.side-container {
	background-color: var(--section-bg-color);
	padding: 15px;
	border-radius: 1%;
	border: solid 0.5px lightgray;
	font-size: 0.85em
}
.side-container .side{
	/* border-style: double;
	border-color: #000078;*/
	margin-bottom: 30px !important;
}
.side h5 {
	padding: 3px;
	border-bottom: solid 2px var(--main-bg-color);
}

.title-section {
	padding: 3px;
	width: 50%;
	margin: auto;
	border-bottom: solid 2px var(--main-bg-color);
}
.section{
	margin-top: 50px;
}
.section-content{
	padding-top: 4%;
	margin: auto;
}
.org img{
	max-width: 90%;
	filter: grayscale(1);
}
.org img:hover{
	filter: grayscale(0);
}

header {
    padding: 0px 0 5px;
}

.tableh {
	background: #085680;
	color: white;
	text-align: center;

}

@media (min-width: 992px) {
	.logo {
		margin: auto;
	}
	#front {
		padding-top: 80px;
	}
	.role-profile {
		text-align: right!important;
	}
	.profile-details {
		text-align: left!important;
	}
	.profile {
		padding-top: 50px!important;
	}

}

@media (max-width: 992px) {
	.logo {
		text-align: center!important;
	}
	.title {
		text-align: center!important;
	}
	.role-profile {
		text-align: center!important;
	}
	.profile-details {
		text-align: center!important;
	}
	.profile {
		padding-top: 25px!important;
	}

	header .title .decoline{
		display: none;
	}
}
